html{
    background-color: azure;
}
.header{
    text-align: center;
}
.projects{
    display: flex;
    flex-wrap: wrap;
}
.projects > *{
    flex: 1 0 33%;
    margin: 5px;
    width: 250px;
    height: auto;
}
.projects img{
    width: 100%;
}
.project{
    text-align: center;
    position: relative;
    font-weight: bolder;
    font-size: 2em;
}
.project .caption{
    position: absolute;
    color: white;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}